<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
<div class="body_register">
  <div class="register-container">
      <h2>Register</h2>
      <form th:action="@{/register}" method="post">
          <label for="username">Username</label>
          <input name="username" id="username" type="text" required placeholder="Username">
          <div id="usernameError" class="error"></div>

          <label for="password">Password</label>
          <input name="password" id="password" type="password" required placeholder="Password">
          <div id="passwordError" class="error"></div>
          
          <p class="switch-link">Already have an account? <a href="/login">Login</a></p>

          <input type="submit" value="Register">
      </form>
  </div>
</div>
</body>
</html>