<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/transactions.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div th:insert="~{navbar::navbar}"></div>
    <div class="grid1">
        <h1>Edit Transaction</h1>
        <form th:action="@{/transactions/edit}" th:object="${transaction}" method="post">
            <input type="hidden" name="id" th:value="${transaction.id}" />

            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" th:value="${transaction.amount}" step="0.01" required />

            <label for="description">Description</label>
            <input type="text" id="description" name="description" th:value="${transaction.description}" />

            <label for="dateTime">Date and Time</label>
            <input type="datetime-local" id="dateTime" name="dateTime" th:value="${transaction.dateTime}" required />

            <label for="categoryId">Category</label>
            <select id="categoryId" name="categoryId" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>

            <input type="submit" value="Update Transaction" />
        </form>
    </div>
</body>