<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/budget.css" type="text/css">
</head>

<body>
    <div th:insert="~{navbar::navbar}"></div>
    <div class="grid-container">
        <h1>Edit Budget</h1>
        <form action="#" th:action="@{/budgets/edit}" th:object="${budget}" method="post" class="form-group">
            <input type="hidden" name="id" th:value="${budget.id}"/>

            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" th:value="${budget.amount}" step="0.01" required />

            <label for="dateTimeFrom">Date and Time From</label>
            <input type="date" id="dateTimeFrom" name="dateTimeFrom" th:value="${budget.dateTimeFrom}" required />
            
            <label for="dateTimeTo">Date and Time To</label>
            <input type="date" id="dateTimeTo" name="dateTimeTo" th:value="${budget.dateTimeTo}" required />
            
            <label for="categoryId">Category</label>
            <select id="categoryId" name="categoryId" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
            </select>
            <button type="submit" id="create-budget-button" class="btn btn-primary">Submit Changes</button>
        </form>
    </div>
</body>
</html>