<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CashGroz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <h1>Welcome to CashGroz!</h1>
    
    <!-- Set the color of the icon with style attribute -->
    <i class="fas fa-car" style="color: red;"></i>
    
    <!-- You can also use other color representations like hex, rgb, etc. -->
    <!-- <i class="fas fa-car" style="color: #00ff00;"></i> -->
    <!-- <i class="fas fa-car" style="color: rgb(0, 0, 255);"></i> -->
    
    <script src="/js/navbar.js"></script>
</body>
</html>
