<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authentication</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <div class="body_login">
        <div class="login-container">
            <h2>Login</h2>
            <div class="successfull-login" th:if="${param.success}">
                Successfully registered
            </div>

            <div class="error" th:if="${param.error}">
                Login or password incorrect.
            </div>

            <form th:action="@{/login}" method="post">

                <label for="username">Username</label>
                <input name="username" type="text" required placeholder="Username">
                <div id="usernameError" class="error"></div>

                <label for="password">Password</label>
                <input name="password" type="password" required placeholder="Password">
                <div id="passwordError" class="error"></div>

                <p class="switch-link">Don't have an account? <a href="/register">Register</a></p>

                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>
</body>
</html>