<div class="navbar_container" th:fragment="navbar">
    <img src="/img/logo.png" class="logo_img">
    <div class="navbar_links">
        <a href="/index">Home</a>
        <a href="/categories">Categories</a>
        <a href="/categories/create">Create category</a>
        <a href="/transactions">Transactions</a>
        <a href="/transactions/create">Create transactions</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
