<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
    <div class="body_register">
        <div class="register-container">
            <h2>Register</h2>
            <form th:action="@{/register}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required th:field="${username}">
                <div id="usernameError" class="error"></div>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required th:field="${password}">
                <div id="passwordError" class="error"></div>

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required th:field="${confirmPassword}">
                <div id="confirmPasswordError" class="error"></div>
                
                <p class="switch-link">Already have an account? <a th:href="@{/login}">Login</a></p>

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <script th:src="@{/js/register.js}"></script>
</body>
</html>