<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="grid1">
        <h1>Categories</h1>
        <div class="icon-grid">
            <div th:each="category : ${userCategories}" class="icon-card">
                <i th:class="'fas ' + ${category.icon}"></i>
                <p th:text="${category.name}"></p>
                <div class="card-actions">
                    <form method="POST" th:action="@{/categories/edit}">
                        <input type="hidden" name="id" th:value="${category.id}">
                        <input type="text" name="name" placeholder="Enter new name">
                        <button type="submit" name="submit" class="link-button">EDIT</button>
                    </form>
                    <form method="POST" th:action="@{/categories/delete}">
                        <input type="hidden" name="id" th:value="${category.id}">
                        <button type="submit" name="submit" class="link-button">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/userCategories.js}"></script>
</body>
</html>