<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="grid1">
        <h1>Categories</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr th:each="category : ${userCategories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td>
                    <form method="POST" th:action="@{/categories/edit}">
                        <input type="hidden" name="id" th:value="${category.id}">
                        <input type="text" name="name" placeholder="Enter new name">
                        <button type="submit" name="submit" class="link-button">EDIT</button>
                    </form>
                    <form method="POST" th:action="@{/categories/delete}">
                        <input type="hidden" name="id" th:value="${category.id}">
                        <button type="submit" name="submit" class="link-button">DELETE</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/js/categories.js}"></script>
</body>
</html>